<div *ngIf="passagers.length > 0" class="slide-toggle-container">
    <mat-slide-toggle [(ngModel)]="showPhotos">Afficher les photos</mat-slide-toggle>
</div>

<!-- Affichage de la liste des passagers -->
<div *ngFor="let passager of passagers">
    <app-passager [passager]="passager" [showPhotos]="showPhotos"></app-passager>
</div>
  