.passager-container {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  
  .passager-image {
    margin-right: 15px;
  }

  .passager-info {
    display: flex;
    align-items: center;

    .passager-nom {
      margin-right: 30px;
      font-weight: bold;
    }

    .passager-classe {
      margin-right: 15px;
    }

    .passager-bagages {
      margin-right: 15px;
    }
  }
}
