<!-- Affichage d'un passager -->
<div class="passager-container">
    <img *ngIf="showPhotos" [src]="passager.image" alt="{{ passager.nom }}" class="passager-image">
    <div class="passager-info">
      <span class="passager-nom" matTooltip="{{ passager.email }}">{{ passager.nom }}</span>
      <span class="passager-classe" [appClasseVolColor]="passager.classeVol">{{ passager.classeVol }}</span>
      <span class="passager-bagages" [appLuggageWeight]="passager.nbBagagesSoute" [classeVol]="passager.classeVol">💼{{ passager.nbBagagesSoute }}</span>
    </div>
</div>