<mat-toolbar>
  <div class="logo">
    <img src="../../../assets/Air France.png" alt="Logo AirFrance" />
  </div>
  <div class="menu">
    <button mat-icon-button (click)="toDecollages()">
      Decollages
    </button>
    <button mat-icon-button (click)="toAterrissages()">
      Atterrissages
    </button>
  </div>
</mat-toolbar>
